/* styles */

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", serif;
}

/* universal selector */
* {
    margin: 0;
    padding: 0;
}

/* nav styles */

.nav-bar {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
}

.nav-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    padding: 8px;
    cursor: pointer;

}


/* hero section styles */
.hero-section {
    width: 1675px;
    height: 652px;
    /* border: 2px solid red; */
    background-image: url("../assets/Hero-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.group-description {
    margin: 30px auto;
    /* border: 2px solid red; */
    text-align: center;
    width: 590px;
}

.group-description>h1 {
    color: rgb(13, 19, 33);

    font-size: 38px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;

}

.primary-btn {
    /* border: 1px solid green; */
    width: 200px;
    padding: 10px 5px;
    margin: 5px auto;
    background-color: rgb(13, 19, 33);
    border-radius: 7px;
    cursor: pointer;

}

.primary-btn>a {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: none;

}

.primary-btn>a:hover {
    color: bisque;
    text-decoration: underline;
}



/* "why web development?" section style */

.web-development {
    width: 900px;
    height: 1230px;
    /* border: 2px solid red; */
    margin: 40px auto;
    padding: 70px 90px;
    background-color: rgb(251, 251, 252);
    border-radius: 20px;




}

.web-title {
    text-align: center;
    /* width: 900px; */
    /* border: 1px solid red; */
}

.web-title>h2 {
    color: rgb(13, 19, 33);
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.web-title>p {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}


.top-description,
.middle-description,
.last-description {
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
    justify-content: space-between;
    background-color: white;
    padding: 32px;
    border-radius: 15px;
}

.left {
    width: 30%;
}

.web-description h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 20px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}

.web-description p {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.common-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;

}


/* shared styles */

.common-title {
    color: rgb(13, 19, 33);
    padding: 10px;
    font-size: 26px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.common-para {
    color: rgb(13, 19, 33);
    font-size: 14px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}





/* inspiration section styles */


.inspiration {
    width: 900px;
    /* border: 2px solid red; */
    margin: 30px auto;
    padding: 70px 90px;

}

.video-content {
    text-align: center;
    /* border: 2px solid goldenrod; */
    /* border-radius: 20px; */
    /* margin-top: 20px; */


}

iframe {
    border-radius: 20px;
    margin-top: 40px;

}